In [ ]:
#Q1. Create one variable containing following type of data:

In [1]:
a ='satish'

In [2]:
type(a)

str

In [ ]:
#Q2. Given are some following variables containing data:

In [4]:
var1 =''
var2 ='[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1.

In [6]:
type(var1)

str

In [7]:
type(var2)

str

In [9]:
type(var3)

list

In [8]:
type(var4)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [ ]:
'''
(i) / (Division) (x / y)
Divides the number on its left by the number on its right and returns a floating point value.

(ii) % (Modulus) (x /y)
It returns the remainder of dividing the left hand operand by right hand operand

(iii) // (Floor division) (x // y)
Divides the number on its left by the number on its right, rounds down the answer, and returns a whole number.

(iv) ** (Exponentiation) (x ** y)
Given two real number operands, one on each side of the operator, it performs the exponential calculation ( 2**5 translates to 2*2*2*2*2
'''

In [ ]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [23]:
b = [3,2.5,True,2+8j,'satish','vemula',(2,3,4),{'name':'satish'},[2,3,4],{2,3,4}]

In [24]:
len(b)

10

In [25]:
for i in b:
    print(i)
    print(type(i))

3
<class 'int'>
2.5
<class 'float'>
True
<class 'bool'>
(2+8j)
<class 'complex'>
satish
<class 'str'>
vemula
<class 'str'>
(2, 3, 4)
<class 'tuple'>
{'name': 'satish'}
<class 'dict'>
[2, 3, 4]
<class 'list'>
{2, 3, 4}
<class 'set'>

In [ ]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = int(input())
B = int(input())
counts = 0
while A % B == 0:
     counts = counts +1
    
print(counts)

In [ ]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [26]:
c = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [45]:
divisible_3 = []
for i in c:
    if i % 3:
        divisible_3.append(i)

In [46]:
divisible_3

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

In [ ]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
'''
Ans : Mutable objects are allow to change the value and immutabel object are not allow to change the value
example for Mutable :- list, set, dict
example for imutable:- int, str, bool,float,tuple

In [49]:
tuple1 = (1,2,3,4)
print(a)
tuple1[0] = 4

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [65]:
list1 = [1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [66]:
list1.append(9)

In [67]:
list1

[1, 2, 3, 4, 9]